<ul class="user-list">
  <% @users.each do |user| %>
    <li class="user corners">
      <div class="header corners no-bottom-corners 
        <%= user.available? ? 'header-available' : 'header-unavailable' %>">
        <span class="status <%= user.available? ? 
        'available-status' : 'unavailable-status' %>">&nbsp;</span>
      <span class="name"><%= user.name %></span>
      <span class="returns">
        <% unless user.available? %>
        <label>returns </label> <%= user.returns %>
      <% end %>
      </span>
    </div>
    <div class="message"> 
      <%= user.available? ? "In the office!" : user.message %>
    </div>
  </li>
<% end %>
</ul>
