<script type="text/javascript">

  $(function() {
    
    $('#user_returns').datetimepicker();

    $.getJSON('/', function(data) {
      $('#user-list').find('tbody').html($('#user-list-template').render(data));
    });
  
});

</script>
<div style="padding: 20px;">
  <table id="user-list">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Returns</th>
        <th>Message</th>
      </tr>
      <% if user_signed_in? %>
      <tr>
        <td class="name">
          <span class='status <%= (current_user.available) ? "available" : "unavailable" %>'>&nbsp;
          </span>
          <a href="#" id="update-status"><%= current_user.name %></a>
        </td>
        <td class="returns">
          <%= current_user.returns %>
        </td>
        <td class="message">
          <%= current_user.message %>
        </td>
      </tr>
      <tr style="display: none;" class="my-status">
        <td colspan="3">
          <div>        
            <%= form_for(:user, :as => current_user, 
                  :url => registration_path(current_user), 
                  :html => { :method => :put }) do |f| %>
              <div class="return-buttons">
                <%= f.label :returns %>
                <%= f.text_field :returns %>
              </div>
              <div class="return-message">
                <%= f.label :message %>
                <%= f.text_area :message, :cols => 1, :rows => 1, :value => current_user.message %>
              </div>
              <div class="actions">
                <button class="action-save">Save</button>
                <button class="action-back">I'm Back</button>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script id="user-list-template" type="text/x-jquery-tmpl">
  <tr>
    <td class="name">
      <span class="status {{#if available }} available {{else}} unavailable{{/if}}">&nbsp;
      </span>
        {{=name}}
    </td>
    <td class="returns">
      {{=returns}}     
    </td>
    <td class="message">
      {{=message}}
    </td>
  </tr>
</script>