<!DOCTYPE html>
<html>
  <head>
    <title>Inout</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <span>
          <%= link_to image_tag("CORE-3.png", :border => 0), root_path, {:class => 'corp-logo'} %> 
        </span>
      </div>
      <div id="main-nav">
        <ul>
          <% if user_signed_in? %>
            <li>
              <% if current_user.available? %>
                <span class="available status">&nbsp;</span>
              <% else %>
                <span class="unavailable status">&nbsp;</span>
              <% end %>
              <div id="my-status" data-id="<%= current_user.id %>">
                <div id="intro-text">
                  <%= link_to "In/Out Board", root_path %>  Display your current availability
                </div>
                <div class="form-data">
                  <% ['7am','8am','9am','10am','11am','12pm','1pm','2pm','3pm','4pm','5pm','6pm','7pm'].each do |i| %>
                    <label class="time-out"><%= i %></label>
                    <%= radio_button_tag 'time-back', i, checked = (current_user.returns == i)%>
                  <% end %> 
                  <%= text_area :user, :message, :cols => 40, :rows => 4, :value => current_user.message %>
                  <div class="actions">
                    <button class="action-save">Save</button>
                    <button class="action-back">I'm Back</button>
                  </div>
                </div>
              </div>
            </li>
            <li><%= link_to current_user.email, edit_user_registration_path(@current_user) %> | </li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Register", new_user_registration_path %> | </li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="container">
      <%= yield %>
    </div>
    <div id="footer">
    </div>
  </body>
</html>
